[Unit]
Description=Apache Tomcat 8
After=network.target

[Service]
Type=forking

User=ubuntu
Group=ubuntu

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="CATALINA_BASE=/home/ubuntu/apache-tomcat-8.5.96"
Environment="CATALINA_HOME=/home/ubuntu/apache-tomcat-8.5.96"
Environment="CATALINA_PID=/home/ubuntu/apache-tomcat-8.5.96/temp/tomcat.pid"

ExecStart=/home/ubuntu/apache-tomcat-8.5.96/bin/startup.sh
ExecStop=/home/ubuntu/apache-tomcat-8.5.96/bin/shutdown.sh

Restart=on-failure

[Install]
WantedBy=multi-user.target

